<section class="sb">
    <div>
    </div>
</section>
<section class="full">
    <div class="container">
        <div class="nav d-flex py-2">
            <div class="container">
                <div class="row">    
                    
                    <div class="md-6">    
                        <ol class="row">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a routerLink="shop">shop</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
  
    <div class="nav-2 d-flex py-2">
        <div class="container">
            <div class="row">    
              <div class="col-md-6">    
                <h4>Showing all results</h4>
              </div>
                <div class="md-6">    
                  <div class="col text-right">
                    <div ngbDropdown class="d-flex">
                      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Default sorting</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="list">
                        <button ngbDropdownItem>Sort by latest</button>
                        <button ngbDropdownItem>Sort by highest price</button>
                        <button ngbDropdownItem>Sort by lowest price</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop-bg">
  <div class="container row justify-content-flex-center">
    <div class="card m-3 col-auto"*ngFor="let card of cards">
      <nav>
        <svg class="arrow" version="1.1" viewBox="0 0 512 512" ><polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " stroke="#727272"/></svg>
        Reviews
        <svg class="heart" version="1.1" viewBox="0 0 512 512" ><path d="M340.8,98.4c50.7,0,91.9,41.3,91.9,92.3c0,26.2-10.9,49.8-28.3,66.6L256,407.1L105,254.6c-15.8-16.6-25.6-39.1-25.6-63.9  c0-51,41.1-92.3,91.9-92.3c38.2,0,70.9,23.4,84.8,56.8C269.8,121.9,302.6,98.4,340.8,98.4 M340.8,83C307,83,276,98.8,256,124.8  c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6L245.1,418l10.9,11l10.9-11l148.3-149.8  c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z" stroke="#727272"/></svg>
      </nav>
      <div class="photo">
        <img src="https://images.squarespace-cdn.com/content/v1/563890dce4b0facc12851d8f/1518946801042-JS3B63C79KXK126XSZAR/ke17ZwdGBToddI8pDm48kHdYgXE-SNQap4rdmLtCEYwUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKceNcLXZzmps0wW0d931ZSLexUJQha8Su610NWeTt5j8Mo678SpNNKG6QIgZHJogjy/ZiSS+Front+and+Back.jpg?format=300w">
      </div>
      <div class="description">
        <h2>{{card.title}}</h2>
        <h4>By Mike Johnson</h4>
        <h1>{{card.price}}</h1>
        <button >Add to Cart</button>
        <button>Wishlist</button>
      </div>
    </div>
  </div>
</section>