.sb {
  background-image: url("../../../assets/Naturals_6.24.20.jpg");
  background-position: left 50% top 57%;
  border-bottom: 1px solid #e0eded;
  height: 320px;
}
.full {
  background: #ebe9eb;
}
.nav {
  border-bottom: 1px solid #cbd4d4;
  background: #ebe9eb;
  color: #333;
}
.nav-2 {
  background: #ebe9eb;
  color: #333;
  text-align: center;
}
#dropdownBasic2 {
  width: 100%;
  height: 100%;
  padding: 10px;
}
#dropdownBasic2:hover {
  background-color: black;
  color: #ebe9eb;
  font-size: 17px;
}
.list button {
  width: 100%;
  height: 100%;
}
ol {
  float: right;
  background: transparent;
  border-radius: 0;
  list-style: none;
}
a:hover {
  color: cornflowerblue;
}
a {
  text-decoration: none;
  color: #333;
  padding: 3px;
  font-weight: 700;
}
li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
/*  */
.shop-bg {
  background-color: #ebe9eb;
  background-size: cover;
  display: flex;
  justify-content: space-around;
}

.card {
  position: relative;
  margin-top: 10px;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
  margin-bottom: 20px;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
}

svg.heart {
  height: 24px;
  width: 24px;
  float: right;
  margin-top: -3px;
  transition: all 0.3s ease;
  cursor: pointer;
}
svg:hover {
  fill: red;
}

svg.arrow {
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.photo {
  text-align: center;
}
img {
  max-height: 240px;
}

.description {
  padding: 20px;
  width: 100%;
  border-left: 2px solid #efefef;
}
h1 {
  color: #515151;
  font-weight: 300;
  padding-top: 10px;
  margin: 0;
  font-size: 30px;
  padding-bottom: 10px;
}

h2 {
  color: #515151;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 5px;
}

h4 {
  margin: 0;
  color: #727272;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

button {
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  margin-bottom: 5px;
  color: #515151;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}
button:hover {
  background: darken(white, 2%);
  border: 1px solid #aedaa6;
  color: #aedaa6;
  cursor: pointer;
}
