.nav {
  border-bottom: 1px solid #e0eded;
  background: #fcfcfc;
  color: #333;
  margin-top: 5rem;
}

ol {
  float: right;
  background: transparent;
  border-radius: 0;
  list-style: none;
}
a:hover {
  color: cornflowerblue;
}
a {
  text-decoration: none;
  color: #333;
  padding: 3px;
}
li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.sec {
  background-image: url("../../../assets/photo-1546198632-9ef6368bef12.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: #fff;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.ndsec {
  margin: 70px;
}
.mais {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1%;
  color: black;
  text-align: center;
  padding: 0;
  width: 700px;
  height: 410px;
  margin: auto;
}
.form-header {
  background-color: rgb(252, 252, 252, 0.75);
  padding-top: 15px;
  border-bottom: 1px solid #e0eded;
  font-weight: 500;
}
.form-body {
  padding: 15px 20px;
  text-align: start;
}
label {
  font-size: small;
}
input {
  width: 318px;
  height: 39px;
  background-color: rgb(235, 235, 235);
  border: 1px solid #cecece;
  border-radius: 3px;
}
.stlab {
  margin-bottom: 20px;
}
.ckbx {
  padding-left: 21px;
  font-size: 15px;
  line-height: 27px;
}
.ss {
  max-height: 17px;
  max-width: 17px;
}
.btn-s {
  margin-top: 5px;
  padding: 6px 12px;
  font-size: 14px;
  width: 100%;
  font-size: large;
  border-radius: 2px;
}
.form-footer {
  background-color: rgb(252, 252, 252, 0.75);
  border-top: 1px solid #e0eded;
  font-size: small;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 45px;
  padding: 10px;
}
.war {
  transition: all 0.25s ease-out;
}
