.navbar {
  background: #fff;
  opacity: 0.7;
  border-bottom: 1px solid #e0eded;
  padding: 0;
  box-shadow: 0px 16px 32px 0px rgb(167 178 219 / 30%);
}
.container {
  height: 72px;
}

h2 {
  color: rgb(71, 67, 67);
  font-weight: 500;
  font-family: "Itim", cursive;
  text-transform: uppercase;
}
.oospan {
  color: red;
}
.icons {
  border-top: 3px solid transparent;
  padding: 28px 16px;
  margin-right: 0;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: rgb(90, 88, 88);
  text-transform: uppercase;
  transition: 0.3s;
  text-decoration: none;
}
.icons:hover {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}
